<!DOCTYPE html>
<html lang="en">
  <style>
    body {
      background-color: red;
    }
    h1 {
      color: blue;
    }
    p {
      color: yellow;
    }
  </style>
  <script
    language="JavaScript"
    type="text/javascript"
    src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"
  ></script>
  <script language="JavaScript" type="module" src="../script.js"></script>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Testing</title>
  </head>
  <body></body>
</html>
